<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" id="i" class="chte" placeholder="chat">
    <button onclick="sendM()" class="btn">send</button>

    <div class="chat">
        <div class="ri">WellCome</div>
        <br>
        <br>


    </div>
    <div class="for">
        <input type="text" id="s1" placeholder="Name">
        <button class="b1" onclick="ent_()">send</button>
    </div>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .for {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(120deg, #03b1e6, rgba(255, 8, 160, 0.829)), url('https://open-frontend-bucket.s3.amazonaws.com/open-money/login/Mobile-Banner.png');
            background-size: cover;
        }

        #s1 {
            border: 2px solid #0092cc;
            outline: none;
            border-radius: 6px;
            background: transparent;
            padding: 10px;
            margin-right: 10px;
            color: #fff;
        }

        #s1::placeholder {
            color: rgba(255, 255, 255, 0.815);
        }

        .b1 {
            border: 2px solid #cc007eb2;
            outline: none;
            border-radius: 6px;
            background: transparent;
            padding: 10px;
            color: rgba(245, 235, 235, 0.849);
        }

        .chte {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10%;
            border: 0;
            outline: none;
            border-radius: 50px;
            color: #fff;
            background: #333;
            height: 25px;
            width: 60%;
            padding: 2px;
        }
        input{
            padding: 10px;
        }
        .btn {
            position: absolute;
            left: 65%;
            top: 0;
            height: 25px;
            padding: 2px;
            width: 100px;
            margin: 10%;
            text-align: center;
            color: rgb(48, 43, 43);
            border: 0;
            border-radius: 50px;
        }

        body {
            background: #222;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .chat {
            width: 90%;
            height: 90%;
            z-index: -1000000;
        }

        .ri {
            color: rgba(255, 255, 255, 0);
            background: rgba(255, 255, 255, 0);
            border-radius: 50px;
            width: auto;
            position: relative;
            padding: 5px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 50px;
        }

        .left {
            color: #fff;
            background: rgb(9, 154, 238);
            border-radius: 50px;
            width: auto;
            position: relative;
            top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            padding: 5px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 50px;
        }

        .right {
            color: #fff;
            background: rgb(238, 9, 162);
            border-radius: 50px;
            width: auto;
            position: relative;
            top: 50px;
            float: right;
            padding: 5px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 50px;
        }

        div h3 {
            color: rgba(255, 255, 255, 0.712);
        }

        div h3 span {
            color: rgba(51, 51, 51, 0.87);
            font-size: 2ex;
        }

        div h4 {
            color: rgba(51, 51, 51, 0.664);
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
            background: transparent;
        }
    </style>
    <script>
        var name_u = "name";
        var use = {};
        var ioid = 0;
        var cl = 0;
    </script>

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script>
        document.addEventListener('scroll', function (e) {
            var xw = window.scrollX;
            var yw = window.scrollY;
            console.log(xw);
            console.log(yw);

            document.querySelector("input").style.top = yw + "px";
            document.querySelector("button").style.top = yw + "px";
        });
    </script>
    <script>
        function dellite(e) {
            if (cl > 5) {
                document.getElementById(e).remove();
                cl = 0;
            }
            else {
                cl += 1;
            }
        }
    </script>
    <script>
        const socket = io('https://njsc.herokuapp.com/');

        socket.on('connection');
        socket.on("message", (data) => {
            var dt = new Date();
            ioid += 1;
            window.scroll(0, 10000000000000);
            if (data[0] != name_u){
            document.querySelector(".chat").innerHTML += "<div id=\"d" + ioid + "\" onclick=\"dellite(d" + ioid + ")\" class=\"left\"><h3>From <span>" + data[0] + "</span> &nbsp;&nbsp;&nbsp;</h3> " + data[1] + " &nbsp;&nbsp;&nbsp; <h4>" + dt.getHours() + "." + dt.getMinutes() + "</h4></div><br><br>";
        }
        else{
             var sto__ = document.getElementById("i").value;
                var dt = new Date();
                ioid += 1;
                window.scroll(0, 1000000000000000000);
                document.querySelector(".chat").innerHTML += "<div id=\"d" + ioid + "\" onclick=\"dellite(d" + ioid + ")\"  class=\"right\"><h3>From <span>" + "me" + "</span> &nbsp;&nbsp;&nbsp;</h3> " + data[1] + " &nbsp;&nbsp;&nbsp; <h4>" + dt.getHours() + "." + dt.getMinutes() + "</h4></div><br><br>";
        }
    });

        const sendM = () => {
            var sto__ = document.getElementById("i").value;
            var dt = new Date();
            ioid += 1;
            window.scroll(0, 1000000000000000000);
            socket.emit('message', [name_u, sto__]);
            socket.emit('backdata_add', [name_u, sto__]);
            document.querySelector(".chat").innerHTML += "<div id=\"d" + ioid + "\" onclick=\"dellite(d" + ioid + ")\"  class=\"right\"><h3>From <span>" + "me" + "</span> &nbsp;&nbsp;&nbsp;</h3> " + sto__ + " &nbsp;&nbsp;&nbsp; <h4>" + dt.getHours() + "." + dt.getMinutes() + "</h4></div><br><br>";
            document.getElementById("i").value = "";
        };
    </script>
    <script>
        function ent_() {
            if (name_u == "") {

            }
            else {
                name_u = document.getElementById("s1").value;
                document.querySelector(".for").remove();
                socket.emit('message', [name_u, "Join the chat..."]);

            }
        }
        var d54 = String(window.location.href).replace('http://192.168.1.4:3001/?n=', '').replace(' ', '').replace('http://192.168.1.4:3001/', '');
        //alert(d54);
        if (d54 != '') { 
            document.querySelector(".for").remove();
            socket.emit('message', [d54, "Join the chat..."]);
        }
    </script>

</body>

</html>
